<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yanxuwen.module_bottomtab2">

    <application
        android:name=".debug.Bottomtab2Application"
        android:allowBackup="true"
        android:icon="@mipmap/common_ic_launcher"
        android:supportsRtl="true"
        android:label="@string/bt2_app_name"
        tools:replace="android:label"
        android:theme="@style/common_SlideAppTheme">
        <activity
            android:name=".debug.MainActivity"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>
